---
layout: default
title: Projects
---

<section class="intro">
  <div class="container">
    <p class="lead">This part is where I did most of my time dedicate with the best project I have</p>
  </div>
</section>


<section class="post-list">
    <div class="container" >
        {% for project in site.categories.projects %}
          {% unless project.next %}
              <h2 class="category-title">{{ project.date | date: '%Y' }}</h2>
          {% else %}
            {% capture year %}{{ project.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ project.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
              <h2 class="category-title">{{ project.date | date: '%Y' }}</h2>
            {% endif %}
          {% endunless %}
          <article class="post-item">
            <span class="post-meta date-label">{{ project.date | date: "%d %b" }}</span>
            <div class="article-title"><a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></div>
          </article>
        {% endfor %}
    </div>
</section>