{% if site.comments %}
  <aside id="comments" class="disqus">

    <div class="container">
      <h3><i class="icon icon-comments-o"></i> Comments</h3>
      <div id="disqus_thread"></div>

      <script src="https://cdn.fastcomments.com/js/embed-page-likes-floating.min.js"></script>
      <div id="fastcomments-page-likes-floating"></div>
      <script>
          window.FastCommentsEmbedPageLikesFloating(document.getElementById('fastcomments-page-likes-floating'), {
              tenantId: 'IPHcjIqO1X'
          });
      </script>

      
      <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
      <div id="fastcomments-widget"></div>
      <script>
        FastCommentsUI(document.getElementById('fastcomments-widget'), {
            "tenantId": "IPHcjIqO1X"
        });
      </script>

      <script src="https://cdn.fastcomments.com/js/widget-recent-comments.min.js"></script>
      <div id="fastcomments-widget-recent-comments"></div>
      <script>
          FastCommentsRecentComments(document.getElementById('fastcomments-widget-recent-comments'), {
              tenantId: 'IPHcjIqO1X',
              urlId: null // If you want to show this widget for a single page, pass in the url or id that represents that page here.
          });
      </script>
      
      

    </div>

  </aside>
{% endif %}
