
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <ul class="navbar">
      <li>
        <a href="https://github.com/k1m0ch1" title="GitHub">
        <i class="fa fa-github fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/BukanYahya" title="Twitter">
        <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="https://twitch.com/buk4nyahya" title="LinkedIn">
        <i class="fa fa-twitch fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCrDI93zGBH6C6GXTGl5gPfg" title="LinkedIn">
        <i class="fa fa-youtube fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/yahya-fadhlulloh-al-fatih-a568a455" title="LinkedIn">
        <i class="fa fa-linkedin fa-lg"></i>
        </a>
      </li>
      <li><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
      <li><a href="{{ '/blogs' | prepend: site.baseurl }}">Blogs</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</nav>
